@import "antd/dist/antd.css";

.content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.item_meta {
  display: flex;
  align-items: center;
}

.metadata_wrapper {
  display: flex;

  justify-content: space-between;
  width: 100%;
  padding-right: 8px;
}

.metadata_wrapper .info {
  display: flex;
  flex-direction: column;
}

.metadata_wrapper .info .user_info {
  display: flex;
}
.metadata_wrapper .info .title {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}
.metadata_wrapper .info .details {
  margin: 0;
  font-style: italic;
  line-height: 12px;
  font-size: 13px;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.tags .tag_alert {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0 7px;
  border: 1px dashed lightgrey;
  margin-top: 4px;
}
.tags .search_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.tags_wrapper {
  margin-top: 5px;
}
.drawer_wrapper {
  width: 600px !important;
}
.filter_wrapper {
  display: flex;
  flex-direction: column;
  /* // justify-content: space-between; */
  align-items: flex-start;
  transition: ease-in-out 300ms all;
  height: 70px;
  opacity: 1;
}

.close {
  height: 0;
  overflow: hidden;
  transition: ease-in-out 300ms all;
  opacity: 0;
}

.drawer_container {
  position: relative;
  display: flex;
}
.add_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 20px;
  z-index: 999990000;
}
.alert_wrapper {
  margin-bottom: 8px;
}
.filters_origin_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* // max-width: 210px; */
  width: 100%;
}

.search_filter_wrapper {
  display: flex;
}

.search_filter_wrapper .search {
  width: 305px;

  margin-left: 5px;
}

.list_wrapper {
  overflow-y: hidden;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.list_wrapper .title_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  text-transform: uppercase;
  font-size: 13px;
  /* // background: $light-gray; */
  border: 1px dashed lightgrey;
}
.list_wrapper .title_list .counter_files {
  font-size: 12px;
  font-weight: 400;
  color: lightgrey;
}

.ant-list-item-meta-title {
  display: inline-block;
  line-height: 16px;
  max-width: 80%;
  margin-left: 0;
}
.ant-switch {
  min-width: 100px;
}
.switch_container {
  margin-left: 5px;
}
